body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f9;
}

/* Contenedor principal en 2 columnas */
.contenedor {
  display: flex;
  height: 100vh;
}

/* Estilos de las columnas */
.columna {
  flex: 1;
  padding: 300px;
  box-sizing: border-box;
}

/* Columna izquierda (login) */
.izquierda {
  background-image: url("https://img.freepik.com/foto-gratis/fondo-gris-pintado_53876-94041.jpg?semt=ais_hybrid&w=740&q=80"); /* tu imagen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 0 8px rgb(255, 255, 255);
  color: white;
}

.izquierda h2 {
  margin-bottom: 20px;
}

.izquierda form {
  display: flex;
  flex-direction: column;
}

.izquierda label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.izquierda input {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.izquierda button {
  margin-top: 20px;
  padding: 12px;
  background: #0c1fc9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.izquierda button:hover {
  background: #050f97;
}

/* Columna derecha (texto) */
.derecha {
  background-image: url("https://images.unsplash.com/photo-1614850523011-8f49ffc73908?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBhenVsfGVufDB8fDB8fHww"); /* tu imagen */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.derecha h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.derecha p {
  font-size: 18px;
  line-height: 1.5;
}